euler*
ex16-init.*
ex16-final.*
ex16-mesh.*
ex25p-sol_i.*
ex25p-sol_r.*
mesh.*
metrics.txt
mode_*
port_mesh.*
port_mode.*
mode_deriv_*.00000*
slurm_output_2004_*.txt
slurm_output_2013_*.txt
slurm_error_2004_*.txt
slurm_error_2013_*.txt
sol.*
time*
metrics*
escalamientoDebil/csv*